@model Model.TargetAppDto
@{
    Layout = null;
}
<div class="row">
    <div class="col-md-12">
        <form  asp-action="AddOrEdit" onsubmit="return AjaxPost(this);">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name">Name</label>
                <input type="text" asp-for="Name" class="form-control" required>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Url">Url</label>
                <input type="text" asp-for="Url" class="form-control" required>
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Interval">Interval (second)</label>
                <input type="number" asp-for="Interval" class="form-control" required>
                <span asp-validation-for="Interval" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary w-100" />
            </div>
        </form>
    </div>
</div>

